.page_home {
  z-index: 1;
  position: relative;

  .level-1 {
    z-index: 2;
  }

  .level-2 {
    z-index: 4;
  }
  
  .level-3 {
    z-index: 6;
  }

  .level-4 {
    z-index: 8;
  }

  .bg-tg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background-image: url('../../../assets/images/hd-bg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .page-all {
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 160px;
  }

  .com-header {
    padding: 43px 0 44px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logos {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }

    .logo {
      width: 44px;
      height: 44px;
      background-image: url('../../../assets/images/hd-logo.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .menus {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 40px;

      .menu-item {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
      }
    }
  }

  .com-banner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-top: 226px;

    .tips {
      color: #FFF;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-text-stroke-width: 1;
      -webkit-text-stroke-color: #000;
    }

    .title {
      // width: 1054px;
      // height: 142px;
      // background-image: url('../../../assets/images/t-banner.svg');
      // background-repeat: no-repeat;
      // background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 60px;

      span {
        color: #F7ED00;
        -webkit-text-stroke-width: 0.10000000149011612;
        -webkit-text-stroke-color: #B63F3F;

        &.orange {
          color: #F7ED00;
          -webkit-text-stroke-width: 1;
          -webkit-text-stroke-color: #F7ED00;
        }
      }
    }

    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 44px;

    }

    .notice {
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 263px;
    }

    .click-next {
      width: 120px;
      height: 80px;
      background-image: url('../../../assets/images/hd-next.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .com-together {
    margin-top: 160px;
    .title {
      color: #FFF;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -2.7px;
    }

    .context {
      display: flex;
      gap: 24px;
      margin: 160px auto 0 auto;
      width: 100%;

      .context-item {
        display: flex;
        padding: 60px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex: 1 0 0;
        background: #171717;

        &:hover {
          background: #282828;

          .css-btn-click {
            &.orange-white {
              background: #F7ED00;
              color: #000102;

              .i-arrow {
                background-image: url('../../../assets/images/he-arrow-right.svg');
              }
            }
          }
        }

        .ctx-1 {
          display: flex;
          align-items: center;
          gap: 32px;
          justify-content: flex-start;

          .logo {
            width: 100px;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .i-logo {
              display: block;
              width: 100px;
              height: 100px;
              background-image: url('../../../assets/images/i-lock.svg');
              background-repeat: no-repeat;
              background-size: 100% 100%;

              &.right {
                width: 40px;
                height: 40px;
                background-image: url('../../../assets/images/i-never.svg');
              }
            }
          }

          .text {
            color: #FFF;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        .ctx-2 {
          color: rgba(255, 255, 255, 0.7);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 32px;
        }
      }
    }
  }

  .com-pusd {
    margin-top: 292px;
    .title {
      color: #F5F5F5;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -2.7px;
    }

    .times {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 80px;
      position: relative;
      
      .time-item {
        width: 240px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        justify-content: flex-start;

        .t-title {
          color: #FFF;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -1.2px;
          text-transform: capitalize;
        }
        .t-notice {
          color: rgba(255, 255, 255, 0.7);
          // font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
        }
        &.time-1 {
          width: 260px;
          height: 197px;
          margin-bottom: 32px;
          margin-right: 80px;
        }
        &.time-2 {
          width: 260px;
          height: 197px;
          margin-bottom: 32px;
          margin-right: 80px;
        }
        &.time-3 {
          width: 260px;
          height: 197px;
          margin-bottom: 32px;
          margin-right: 260px;
        }
        &.time-5 {
          gap: 8px;
        }
        &.time-6 {
          gap: 8px;
          margin-top: 57px;
        }
        &.time-7 {
          gap: 8px;
          margin-top: 45px;
        }
      }
      
    }
    .pos-wap {
      display: none !important;
    }
    .pos {
      position: absolute;
      &.pos-t1 {
        display: none !important;
        top: 112px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        background: rgba(0, 1, 2, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        .i-coin {
          display: block;
          width: 40px;
          height: 36.667px;
          background-image: url('../../../assets/images/i-t1.svg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: rotate(15deg);
        }
      }
      &.pos-t2 {
        top: 130px;
        left: 80px;
        width: 218px;
        height: 2px;
        background-image: url('../../../assets/images/line-1.svg');
        background-repeat: repeat-x;
        background-size: 100% 100%;
      }
      &.pos-t3 {
        top: 120px;
        left: 298px;
        width: 24px;
        height: 20px;
        background-image: url('../../../assets/images/line-4.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      &.pos-t4 {
        display: none !important;
        top: 112px;
        left: 338px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        background: rgba(0, 1, 2, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        .i-coin {
          display: block;
          width: 36px;
          height: 37px;
          background-image: url('../../../assets/images/i-t2.svg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
      &.pos-t5 {
        top: 130px;
        left: 418px;
        width: 220px;
        height: 2px;
        background-image: url('../../../assets/images/line-1.svg');
        background-repeat: repeat-x;
        background-size: 100% 100%;
      }
      &.pos-t6 {
        top: 120px;
        left: 638px;
        width: 24px;
        height: 20px;
        background-image: url('../../../assets/images/line-4.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      &.pos-t7 {
        display: none !important;
        top: 112px;
        left: 678px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        background: rgba(0, 1, 2, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        .i-coin {
          display: block;
          width: 36px;
          height: 37px;
          background-image: url('../../../assets/images/i-t3.svg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
      &.pos-t8 {
        top: 8px;
        right: 288px;
        width: 394px;
        height: 128px;
        background-image: url('../../../assets/images/line-2.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      &.pos-t9 {
        top: 126px;
        right: 288px;
        width: 394px;
        height: 128px;
        background-image: url('../../../assets/images/line-3.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      &.pos-t10 {
        top: 130px;
        right: 288px;
        width: 224px;
        height: 2px;
        background-image: url('../../../assets/images/line-1.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      &.pos-t11 {
        top: 0;
        right: 264px;
        width: 26.5px;
        height: 20.5px;
        background-image: url('../../../assets/images/line-4.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      &.pos-t12 {
        top: 120px;
        right: 264px;
        width: 26.5px;
        height: 20.5px;
        background-image: url('../../../assets/images/line-4.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      &.pos-t13 {
        top: 243px;
        right: 264px;
        width: 26.5px;
        height: 20.5px;
        background-image: url('../../../assets/images/line-4.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .i-con-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background: rgba(0, 1, 2, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    margin-bottom: 14px;
  }
  .i-coin-t1 {
    display: block;
    width: 40px;
    height: 36.667px;
    background-image: url('../../../assets/images/i-t1.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotate(15deg);
  }
  .i-coin-t2 {
    display: block;
    width: 36px;
    height: 37px;
    background-image: url('../../../assets/images/i-t2.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .i-coin-t3 {
    display: block;
    width: 36px;
    height: 37px;
    background-image: url('../../../assets/images/i-t3.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 960px) {
  /*font-size*/
  .size-32 {
    font-size: 16px !important;
  }
  .size-24 {
    font-size: 12px !important;
  }
  .size-36 {
    font-size: 18px !important;
  }
  .size-120 {
    font-size: 30px !important;
  }
  .size-12 {
    font-size: 8px !important;
  }
  .css-btn-click {
    font-size: 12px !important;
    width: 110px;
    height: 34px;
    gap: 16px;
    .i-arrow {
      background-size: 50% 50%;
      background-position: center center;
    }
  }
  .page_home .com-banner .notice {
    font-size: 12px !important;
  }
  
  .size-54 {
    font-size: 27px !important;
  }
  /*other*/
  #root {
    min-width: 100%;
    max-width: 100%;
  }
  .page_home {
    .page-all {
      width: 100%;
    }
    .com-header {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      padding: 22px 0;
      .menus {
        gap: 15px;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding-right: 8px;
        .menu-item {
          display: flex;
          align-items: center;
          gap: 40px;
          justify-content: center;
          .css-btn {
            padding: 6px 12px;
          }
        }
      }
    }
    .com-banner {
      margin-top: 113px;
      gap: 16px;
      .title {
        gap: 5px;
      }
      .size-120 {
        font-size: 60px;
        line-height: 70px;
      }
      .size-80 {
        font-size: 40px;
        line-height: 48px;
      }
      .btns {
        flex-direction: column;
        gap: 22px;
        .css-btn-click {
          width: 110px;
          height: 34px;
          gap: 15px;
          .i-arrow {
            background-size: 50% 50%;
            background-position: center center;
          }
        }
      }
      .notice {
        margin-top: 132px;
      }
      .click-next {
        width: 60px;
        height: 40px;
      }
    }
    .com-together {
      margin-top: 80px;
      .context {
        flex-direction: column;
        margin: 80px auto 0 auto;
        .context-item {
          padding: 30px 30px;
          .ctx-1 {
            .logo {
              width: 50px;
              height: 50px;
              .i-logo {
                width: 50px;
                height: 50px;
              }
            }
            .text {
              font-size: 14px;
            }
          }
          .ctx-2 {
            font-size: 8px;
            margin-bottom: 16px;
          }
        }
      }
    }
    .com-pusd {
      margin-top: 146px;
      .times {
        flex-direction: column;
        margin-top: 40px;
        .time-item {
          margin-right: 0 !important;
          width: 100% !important;
          padding: 0 40px;
          height: auto !important;
        }
        .i-con-box {
          width: 40px;
          height: 40px;
          .i-coin-t1 {
            width: 20px;
            height: 18px;
          }
          .i-coin-t2 {
            width: 18px;
            height: 18px;
          }
          .i-coin-t3 {
            width: 18px;
            height: 18px;
          }
        }
        .time-4 {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          gap: 10px;
          padding: 0 8px;
          >.time-item {
            width: 33% !important;
            padding: 0 0;
            &.time-6 {
              margin-top: 0;
            }
            &.time-7 {
              margin-top: 0;
            }
          }
        }
      }
      .pos-wap {
        display: flex !important;
        align-items: center;
        .jt {
          display: flex;
          width: 123px;
          height: 10px;
          background-image: url('../../../assets/images/pos-jt.svg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transform: rotate(90deg);
        }
      }
      .pos {
        display: none !important;
      }
    }
  }
  
}