@import 'variables.scss';
 
@font-face {
  font-family: 'Rubik 80s Fade';
  src: url('../Fonts/Rubik80sFade/Rubik80sFade-Regular.ttf') ;
}

@font-face {
  font-family: 'Proto_mono-Bold';
  src: url('../Fonts/ProtoMono/ProtoMono-Medium.ttf') ;
}

@font-face {
  font-family: 'Proto_mono-Regular';
  src: url('../Fonts/ProtoMono/ProtoMono-Regular.ttf') ;
}

.family-proto {
  font-family: 'Proto_mono-Regular';
  &-bold {
    font-family: 'Proto_mono-Bold';
  }
}
.family-rubik {
  font-family: 'Rubik 80s Fade';
}

.size-32 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  &.bold {}
}
.size-36 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
}
.size-24 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.size-120 {
  font-size: 120px;
  line-height: 142px;
  font-weight: 400;
}
.size-80 {
  font-size: 80px;
  line-height: 95px;
  font-weight: 400;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-width: 1440px;
}
// vim = (Smallest of viewport width and height*2)/100
.css-root-main {
  background-color: var(--color-70707F);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-FFFFFF);
}
.css-page {
  background: rgba(0, 1, 2, 1);
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.css-btn {
  text-align: center;
  padding: 12px 24px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background: transparent;
  cursor: pointer;
  &.disabled {
    background: rgba(46, 46, 46, 1);
    color: rgba(92, 92, 92, 1);
    border: 1px solid rgba(46, 46, 46, 1);
    cursor: not-allowed;
  }
  &:hover, &.active {
    background: rgba(247, 237, 0, 1);
    color: rgba(0, 0, 2, 1);
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.css-btn-click {
  cursor: pointer;
  width: 220px;
  height: 67px;
  flex-shrink: 0;
  background: #FFF;
  color: #0C0310;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
  font-size: 24px;

  .i-arrow {
    display: block;
    width: 26px;
    height: 13.867px;
    flex-shrink: 0;
    background-image: url('../images/he-arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &.orange {
    background: #F7ED00;
    // .i-arrow {
    //   background-image: url('../images/he-arrow-right-h.svg');
    // }
  }
  &.orange-white {
    font-size: 24px;
    color: #F7ED00;
    background: transparent;
    border: 1px solid #F7ED00;
    .i-arrow {
      background-image: url('../images/he-arrow-right-h.svg');
    }
  }
}