:root {
  /* Colors: */
  --color-FFFFFF: #FFFFFF;
  --color-70707F: #70707F;

  /* Font/text values */

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --font-weight-mixed: 400;

  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;

  /* border values */
  --border-radius-8: 8px;
  --border-radius-16: 16px;
  --border-radius-24: 24px;
  --border-radius-32: 32px;
}